{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<<<<<<< HEAD
<nav class="toolbar-actions" ...attributes>
=======
<nav class="toolbar-actions">
>>>>>>> 4cb759cfc9 (fixed log)
  {{yield}}
</nav>