{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<KvPageHeader @breadcrumbs={{this.breadcrumbs}} @mountName={{this.mountName}}>
  <:tabLinks>
<<<<<<< HEAD
    <li><LinkTo @route="list" data-test-secrets-tab="Secrets">Secrets</LinkTo></li>
    <li><LinkTo @route="configuration" data-test-secrets-tab="Configuration">Configuration</LinkTo></li>
=======
    <LinkTo @route="list" data-test-secrets-tab="Secrets">Secrets</LinkTo>
    <LinkTo @route="configuration" data-test-secrets-tab="Configuration">Configuration</LinkTo>
>>>>>>> 4cb759cfc9 (fixed log)
  </:tabLinks>
</KvPageHeader>

<Page::Error @error={{this.model}} />